/*
Autor: Juan Latorre
Sitio web: http://juanlatorre.cl
*/

/*
* Sapea tranquilo compadre :)
*/

@import url("fonts.css");

h1 {
	font-family: "Beaufort for LOL", serif;
}

#busqueda-de-ramos {
	border-bottom: 1px solid #dbdbdb;
}

#lista-de-asignaturas {
	padding: .3rem;
}

.column-text-center tr th {
	text-align: center;
}

#main {
	margin-top: 1rem;
}

.box {
	margin-bottom: .5rem !important;
}

input[type=checkbox] {
	transform: scale(1.3);
}

table {
	width: 100%;
	table-layout: fixed;
}

th {
	vertical-align: middle !important;
}

td {
	height: 1px;
}

.center {
	justify-content: center !important;
}

#solo-impresion {
	display: none;
}

.bottom.tableexport-caption {
	display: none !important;
}

.movil {
	display: none;
}

.clase {
	font-size: 1rem;
	border-radius: 0px !important;
}

.clase:only-child {
	height: 100%;
}

.checkbox {
	-webkit-transform: translateY(-150%);
	-ms-transform: translateY(-150%);
	transform: translateY(-150%);
}

.clase:only-child p {
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.notification {
	margin: 0 !important;
	padding: 0 !important;
}

.btn-cambiar-color {
	position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    width: 20px;
}

.oculto {
	display: none;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.center {
	align-content: center;
}

.ocultable {
	font-weight: normal;
}

.clase:not(:only-child) {
	border: 2px solid rgba(255,56,96, 0.4) !important;
}

@media (max-width: 769px) {
	.movil {
		display: inline-block !important;
	}

	.pc {
		display: none !important;
	}

	.clase {
		font-size: 0.7rem;
	}
}

@media print {
	nav {
		display: none;
	}

	#agregarAsignatura {
		display: none;
	}

	#interacciones {
		display: none;
	}

	#solo-impresion {
		text-align: center;
		display: block;
	}
}