html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f8a5c2;
}

.controles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5em;
}

h4 {
  text-align: center;
}

h4:not(:first-child) {
  margin-top: 1.5em;
}

.btn {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.5em;
  border: 1px solid white;
  cursor: pointer;
}

.tab {
  padding: 1em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

li {
  margin-left: 1em;
  margin-right: 1em;
}

li a {
  text-decoration: none;
}

.btn {
  background: #63cdda;
  color: white;
}

.btn.active,
button:hover {
  background: #cf6a87;
}

button:focus {
  outline: 0;
}

.contenidos {
  flex: 1 1 auto;
  align-self: center;
}

.hidden {
  display: none !important;
}

.favicon {
  border: 4px solid white;
  border-radius: 50%;
  padding: 0.4em;
  transition: ease 0.5s;
}

.favicon:hover {
  border: 4px solid #63cdda;
}

.footer {
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: #cf6a87;
}

.footer > a {
  color: #cf6a87;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

textarea {
  margin-top: 1.5em;
  resize: none;
  background: rgba(207, 106, 135, 0.5);
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 80vw;
  height: 60vh;
  padding: 1em;
}

#consola {
  margin: 2.5em 0;
  text-align: center;
}

input {
  width: 50vw;
  height: 25px;
  color: white;
  background: #cf6a87;
  border: 2px solid #cf6a87;
  padding-left: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  font-size: 1.3rem;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='25px' width='25px'><text x='0' y='15' fill='white' font-size='1.3rem'>$</text></svg>")
    no-repeat scroll 7px 7px;
}

input:hover,
input:active,
input:focus {
  outline-color: #cf6a87;
}

textarea:hover,
textarea:active,
textarea:focus {
  outline: 0;
}
